#container {
  width: 450px;
  margin: auto !important;
  display: block;
  height: 700px;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-deck {
  background: green;
  display: block;
  border-radius: 5px;
/*  border: solid 2px black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
*/  color: #fff;
  width: 344px;
  height: 484px;
  top: 120px;
  left: 50px;
  position: absolute;
  cursor: hand;
  z-index: 1;
  background-image: url('images/cardback.png');
  background-size: 344px 484px;
  background-repeat: no-repeat;
}

.item-label {
  text-transform: capitalize;
  color: yellow;
  background: blue;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.item {
  background: green;
  border-radius: 5px;
  border: solid 2px black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 80px;
  height: 90px;
  margin-right: 20px;
  display: inline-block;
}

.items {
  width: 332px;
  top: 10px;
  left: 50px;
  padding-left: 20px;
  position: absolute;
}

.player-stats {
  padding-top: 10px;
  padding-left: 10px;
  background: #a00;
  display: block;
  border-radius: 5px;
  border: solid 2px black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 332px;
  height: 60px;
  top: 640px;
  left: 50px;
  position: absolute;
  display: inline-block;
}

.player-stat-label {
  background: green;
  display: inline-block;
  width: 80px;
  text-align: right;
}

.player-stat {
  background: purple;
  width: 60px;
  display: inline-block;
  padding-left: 10px;
}

.stat-name {
  display: inline-block;
  width: 100px;
  text-align: right;
  text-transform: capitalize;
}

.stat-value {
  display: inline-block;
  width: 100px;
  padding-left: 20px;
  text-align: left;
}

.card {
  background: #a00;
  display: none;
  border-radius: 5px;
  border: solid 2px black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 1px;
  width: 340px;
  height: 480px;
/*  top: 120px;
  left: 50px;*/
  position: absolute;
  cursor: hand;
  z-index: 2;
}

.fight {
  box-shadow: 1px 1px 50px 0px black;
}

.card-description {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 8px;
}

.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
}

.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
}

.card-name {
  font-size: 1.5em;
  text-align: center;
  background: red;
}

.card-stats {
  width: 240px;
  height: 80;
  display: block;
  text-align: center;
  margin-top: 14px;
  margin-left: 70px;
  background-size: 100% auto !important;
  background-position: center;
  background-repeat: no-repeat;
}

.stat {
  font-size: 1.2em;
}

.avatar {
  background: #999;
  width: 300px;
  height: 300px;
  display: block;
  margin-top: 10px;
  margin-left: 20px;
  background-size: 100% auto !important;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 2px #222;
}

.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}

.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}

.hints {
  top: 608px;
  left: 50px;
  position: absolute;
  background: red;
}

.hint {
  display: inline-block;
  width: 170px;
  text-align: center;
  height: 30px;
  vertical-align: middle;
  font-size: 1.2em;
}

.xfight {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}

.xrun-away {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}